@font-face{font-family:Avenir Next;src:url(../fonts/avenir-next-thin.eot);src:local("→↓♦∟х▀↨"),
url(../fonts/avenir-next-thin.woff) format('woff'),
url(../fonts/avenir-next-thin.ttf) format('truetype'),
url(../fonts/avenir-next-thin.svg) format('svg');}
@font-face{font-family:Avenir Next;src:url(../fonts/avenir-next-regular.eot);src:local("→↓♦∟х▀↨"),
url(../fonts/avenir-next-regular.woff) format('woff'),
url(../fonts/avenir-next-regular.ttf) format('truetype'),
url(../fonts/avenir-next-regular.svg) format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:Avenir Next;src:url(../fonts/avenir-next-medium.eot);src:local("→↓♦∟х▀↨"),
url(../fonts/avenir-next-medium.woff) format('woff'),
url(../fonts/avenir-next-medium.ttf) format('truetype'),
url(../fonts/avenir-next-medium.svg) format('svg');}
@font-face{font-family:Avenir Next;src:url(../fonts/avenir-next-bold.eot);src:local("→↓♦∟х▀↨"),
url(../fonts/avenir-next-bold.woff) format('woff'),
url(../fonts/avenir-next-bold.ttf) format('truetype'),
url(../fonts/avenir-next-bold.svg) format('svg');font-weight:bold;font-style:normal;}
@font-face{font-family:Avenir Next;src:url(../fonts/avenir-next-italic.eot);src:local("→↓♦∟х▀↨"),
url(../fonts/avenir-next-italic.woff) format('woff'),
url(../fonts/avenir-next-italic.ttf) format('truetype'),
url(../fonts/avenir-next-italic.svg) format('svg');font-weight:normal;font-style:italic;}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{margin:0;padding:0;border:1;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section{display:block;}
body{line-height:1;}
ol, ul{list-style:none;}
sub, sup{position:relative;display:inline-block;font-size:50%;line-height:0.2em;}
sub{top:0.9em;vertical-align:top;}
sup{top:-2px;margin-top:-11px;}
abbr
input, select, button{overflow:visible;vertical-align:middle;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after,
q:before, q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
section:after,
header:after,
.clearfix:after{content:" ";display:table;clear:both;}
.left{float:left;}
.right{float:right;}
*{border:0px solid red;margin:0;padding:0;box-sizing:border-box;}
body{font:100%/1.5em Avenir Next, arial, sans-serif;margin:0 auto;width:100%;}
header{height:55px;width:100%;background:#ffffff;}
.header_wrapper{height:55px;width:100%;position:fixed;background:#ffffff;border-bottom:1px solid #EF2646;z-index:999;}
header a{text-decoration:none;color:#000000;text-align:left;}
header a:hover{color:#EF2646;}
.header_logo{width:214px;height:25px;float:left;margin:14px 1vw 0 1.4vw;}
.header_logo_text{text-transform:uppercase;text-align:right;overflow:hidden;display:block;float:right;font-weight:bold;letter-spacing:0.25em;font-size:1.3em;margin-top:0.23em;font-weight:normal;}
.header_navigation{float:left;padding:1.14em 0 0 1.74vw;font-size:0.94em;}
.header_navigation li{display:inline-block;margin:0 1.7vw;text-align:left;letter-spacing:0.05em;}
.header_login{float:right;padding:1px 0 0 0;font-size:0.94em;}
.header_login li{display:inline-block;text-align:left;margin:0 1.65vw 0 0;padding:0.42em 0 0.5em 0;}
.header_login li:nth-child(2){background:url(../img/arrow.png) no-repeat;width:146px;background-position:90% 50%;padding-left:0.25vw;}
.header_login li:nth-child(2) a{color:#EF2646;border:1px solid #EF2646;width:146px;display:block;padding:0.53em 0 0.4em 0.7em;}
.header_login li:nth-child(2):hover{color:#ffffff;background:url(../img/arrow.png) no-repeat;background-position:95% 50%;-webkit-transition:background-position 0.2s;transition:background-position 0.2s;}
.main_section_get_started{background:#EF2646;min-height:390px;overflow:hidden;position:relative;}
.main_section_get_started_left_img{width:41%;float:left;margin-left:1.5%;overflow:visible;height:390px;}
.main_section_get_started_left_img img{height:390px;}
.main_section_get_started_right_text{width:57.1%;float:right;text-align:left;color:#ffffff;margin-top:5.3%;left:43%;}
.main_section_get_started_right_text h1{font-size:1.8em;line-height:1.7em;font-weight:normal;}
.main_section_get_started_right_text p{font-size:1.1em;letter-spacing:0.05em;}
.main_section_get_started_btn{background:url(../img/arrow.png) #ffffff no-repeat;background-repeat:no-repeat;background-position:90% 50%;-webkit-transition:background-position 0.2s;transition:background-position 0.2s;width:159px;margin-top:1.88em;margin-bottom:2em;padding:0.7em 0.8em;border-radius:0;border:0;font-weight:400;font-size:1em;text-align:left;cursor:pointer;color:#EF2646;}
.main_section_get_started_btn:hover{color:#ffffff;background:#EF2646;border:1px solid #ffffff;background:url(../img/arrow_active.png) no-repeat;background-position:95% 50%;-webkit-transition:background-position 0.2s;transition:background-position 0.2s;}
.main_section_service_wrapper{display:flex;flex-wrap:wrap;}
.main_section_service{min-height:570px;width:90%;margin:0 auto;padding-top:4em;padding-bottom:6em;}
.main_section_service h1{display:inline-block;text-align:center;width:100%;font-size:1.8em;letter-spacing:0.01em;line-height:1.2em;font-weight:medium;}
.main_section_service_block{width:33.33%;display:flex;justify-content:space-around;flex-direction:column;text-align:center;padding:6.48em 1% 0 4.3%;}
.main_section_service_block h3{font-size:1.62em;font-weight:normal;line-height:1.2em;margin:0.4em 0 1em 0;}
.main_section_service_block p{color:#8A8A8A;font-size:1.1em;}
.main_section_service_block_img{height:90px;}
.main_section_info{min-height:400px;width:100%;background:#404247;position:relative;}
.main_section_info_left_text{float:left;width:61%;padding:5.4% 26% 0 6.7%;}
.main_section_info_left_text h1{color:#ffffff;font-size:1.79em;line-height:1.2em;}
.main_section_info_left_text p{color:#ffffff;font-size:1.2em;padding-top:1.2em;}
.main_section_info_right_log{height:369px;width:39%;min-width:440px;position:absolute;bottom:0;right:0;background:url(../img/log_right.jpg) #ffffff;}
.main_section_sign{min-height:404px;border-bottom:2px solid #f2f2f2;padding-top:5.3em;}
.main_section_sign h1{font-size:1.8em;text-align:center;font-weight:normal;margin-bottom:1.67em;line-height:1.3em;}
.main_section_sign_btn{text-align:right;display:block;margin:0 auto;color:#ffffff;width:159px;height:46px;cursor:pointer;font-size:1em;text-align:left;padding:0.07em 0 0.2em 0.74em;background:url(../img/arrow_active.png) #FF003C no-repeat;background-position:90% 50%;-webkit-transition:background-position 0.2s;transition:background-position 0.2s;border-radius:1px;}
.main_section_sign_btn:hover{color:#EF2646;background:#EF2646;border:1px solid #EF2646;background:url(../img/arrow.png) no-repeat;background-position:95% 50%;-webkit-transition:background-position 0.2s;transition:background-position 0.2s;}
footer{min-height:372px;}
.footer_top{min-height:310px;border-bottom:1px solid #f2f2f2;display:block;padding-top:3.08em;}
.footer_top a{text-decoration:none;color:#5C646A;}
.footer_top a:hover{color:#FF003C;}
.footer_company{float:left;margin-left:5.2%;}
.footer_service{float:left;margin-left:6.2%;}
.footer_service li,
.footer_company li{font-size:0.85em;line-height:1.9em;font-weight: normal;}
.footer_service h5,
.footer_company h5{color:#919CA4;margin-bottom:0.9em;text-transform:uppercase;font-size:1.1em;font-weight: 100;}
.footer_bottom{position:relative;color:#5C646A;font-size:0.95em;}
.footer_bottom_logo{padding:17px 0 0 5.1%;}
.footer_bottom_logo_img{float:left;margin-right:0.8%;}
.footer_bottom_logo_text{float:left;padding-top:0.5em;font-size:0.9em;}
.footer_bottom_text{float:left;margin-left:4.2%;padding-top:0.3em;font-size:0.9em;}
.footer_bottom_text li{display:block;float:left;margin-right:2vw;}
.footer_bottom_social{float:right;margin-right:3.7%;}
.footer_bottom_social img{padding:0 0.55em;}
.footer_bottom_social img:hover{-webkit-animation:1.2s ease-in-out 0s normal none infinite running social;-moz-animation:1.2s ease-in-out 0s normal none infinite running social;-o-animation:1.2s ease-in-out 0s normal none infinite running social;animation:1.2s ease-in-out 0s normal none infinite running social;}
@keyframes social{0%, 50%, 100%{transform:rotate(0deg);-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-o-transform:rotate(0deg);-ms-transform:rotate(0deg);}
10%, 30%{transform:rotate(-10deg);-webkit-transform:rotate(-10deg);-moz-transform:rotate(-10deg);-o-transform:rotate(-10deg);-ms-transform:rotate(-10deg);}
20%, 40%{transform:rotate(10deg);-webkit-transform:rotate(10deg);-moz-transform:rotate(10deg);-o-transform:rotate(10deg);-ms-transform:rotate(10deg);}
}
@media screen and (max-width:1400px){.main_section_get_started_left_img{margin-left:-7%;}
@media screen and (max-width:1200px){.main_section_get_started_left_img{margin-left:0;}
.main_section_get_started_right_text{width:54%;float:right;text-align:left;color:#ffffff;padding-left:7%;}
}
@media screen and (max-width:1100px){.main_section_get_started_left_img{margin-left:-7%;}
}
@media screen and (max-width:960px){.main_section_get_started{min-height:300px;max-height:300px;}
.main_section_get_started_left_img img{height:300px;margin-left:17%;}
.main_section_get_started_right_text{width:54%;float:right;text-align:left;color:#ffffff;padding-left:7%;margin-top:5%;}
}
@media screen and (max-width:810px){nav{position:fixed;width:100%;text-align:center;display:none;min-width:340px;}
.header_login{position:absolute;bottom:-74px;right:22px;}
.header_login li a{color:#ffffff;}
.header_login li:nth-child(2){background:url(../img/arrow_active.png) no-repeat;background-position:110px center;width:146px;}
.header_login li:nth-child(2) a{color:#ffffff;border:1px solid #ffffff;width:146px;display:block;padding:0.4em 0 0.5em 0.6em;}
.header_login li:nth-child(2):hover{background:#EF2646;color:#ffffff;background:url(../img/arrow_active.png) no-repeat;background-position:95% 50%;-webkit-transition:background-position 0.2s;transition:background-position 0.2s;}
.header_navigation{background:#2C3E50;width:100%;height:100vh;float:none;padding:7em 0 0 0;margin-top:54px;}
.header_navigation li{display:block;width:90%;border-bottom:1px solid #f2f2f2;margin:0 auto;}
.header_navigation li a{color:#ffffff;font-size:1.2em;width:100vw;padding:1em 0;display:block;}
.header_navigation li:hover{border-bottom:1px solid #EF2646;transition:1s ease;}
.header_navigation li a:hover{color:#EF2646;transition:1s ease;}
.header_login{display:none;}
.header_menu_wiev{background:#fff;background:linear-gradient(#ffffff 4px, #282828 4px);background-size:15px 10px;width:30px;height:30px;float:right;margin:10px 22px 0 0;}
.header_menu_toggle{display:block;color:#8e8e8e;text-align:right;text-decoration:none;font-weight:bold;text-transform:uppercase;letter-spacing:0.35em;height:100%;position:absolute;width:100%;}
.footer_bottom_text{display:none;}
}
@media screen and (max-width:780px){.main_section_info_left_text:after,
section:after,
header:after,
.clearfix:after{content:" ";display:table;clear:both;}
.main_section_get_started{min-height:250px;max-height:250px;}
.main_section_get_started_left_img img{height:250px;margin-left:0%;}
.main_section_get_started_left_img{width:42%;}
.main_section_get_started_right_text{width:58%;float:right;text-align:left;color:#ffffff;padding-left:7%;margin-top:1.7em;}
.main_section_service{min-height:570px;width:90%;margin:0 auto;padding-bottom:4em;}
.main_section_service h1{margin-bottom:110px;}
.main_section_info{min-height:398px;width:100%;background:#404247;position:relative;overflow:hidden;}
.main_section_info_left_text{display:block;float:none;width:100%;padding:4em 2%;min-height:270px;}
.main_section_info_left_text h1{color:#ffffff;font-size:2em;line-height:1.2em;}
.main_section_info_left_text p{color:#ffffff;font-size:1.2em;padding-top:1em;}
.main_section_info_right_log{position:static;width:100%;background:url(../img/log_right.jpg) #ffffff left center;background-size:100% 100%;background-position:cover;float:none;display:block;}
.main_section_service{min-height:570px;width:90%;margin:0 auto;padding-top:3em;padding-bottom:4.6em;}
.main_section_service_block{width:33.33%;display:flex;justify-content:space-around;flex-direction:column;text-align:center;padding:0em 1% 0 4.3%;}
}
@media screen and (max-width:630px){.main_section_get_started{min-height:250px;max-height:777px;width:100%;}
.main_section_get_started_left_img{display:none;}
.main_section_get_started_right_text{width:100%;float:right;text-align:left;color:#ffffff;padding-left:7%;margin-top:1em;min-height:250px;}
.header_logo{width:190px;height:25px;float:left;margin:14px 0 0 1em;}
.header_logo_text{font-size:1em;}
.main_section_service_wrapper{display:block;}
.main_section_service{display:block;width:100%;}
.main_section_service_block{width:95%;display:block;margin-bottom:5em;}
}
@media screen and (max-width:410px){.footer_bottom_logo{padding:17px 0 0 3%;}
.footer_bottom_social{float:right;margin-right:4%;}
}
@media screen and (max-width:330px){.footer_bottom_logo_img{display:block;text-align:center;margin:0 auto;float:none;}
.footer_bottom_logo_text{text-align:center;float:none;}
.footer_bottom_social{display:block;margin:1em auto 1% auto;width:100%;text-align:center;}
.footer_bottom:after,
.clearfix:after{content:" ";display:table;clear:both;}
}
@media screen and (max-width:260px){.header_logo{display:none;}
.header_menu_wiev{float:none;text-align:center;margin:0.6em auto;}
}
@media screen and (min-width:1921px){body{width:1920px;margin:0 auto;}
}