@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: "Stylish";
  src: url("fonts/Stylish-Regular.ttf") format("truetype");
}

.container {
	width: 85%;
	margin: 0 auto;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', Arial, sans-serif;
}

h2 {
	margin-top: 36px;
	margin-bottom: 20px;
	font-family: 'Stylish', sans-serif;
	font-size: 44px;
}

ul {
	padding: 0;
	margin: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

nav ul li {
	list-style-type: none;
	flex-grow: 1;
	margin-left: 0.2em;
}

nav ul li a {
	display: block;
	padding: 1em;
	text-align: center;
	text-decoration: none;
	color: #000000;
	border: solid 1px #424242;
	transition: background 0.5s ease;
	text-transform: uppercase;
}

nav li a:hover {
	background: #4fc3f7;
}

nav ul li:first-child {
	margin-left: 0;
}

footer {
	background: #666;
	color: #fff;
	margin-top: 77px;
}

.relation {
	width: 100%;
	position: relative;
	margin: 0 auto;
}

.relation_ratio-16x9 {
	padding-top: 56.5%;
	height: 0;
}

.relation_content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

.grid-block1 {
	width: auto;
	height: 300px;
	border: 1px solid black;
	grid-area: l;
}

.grid-block2 {
	width: auto;
	height: 300px;
	border: 1px solid black;
	grid-area: c;
}

.grid-block3 {
	width: auto;
	height: 300px;
	border: 1px solid black;
	grid-area: r;
}

.grid {
	display: grid;
	grid-gap: 12px;
	grid-template-columns: repeat(12, 1fr);
	grid-template-areas: 
		"l l l l c c c c r r r r";
}

.site-iframe-wrapper {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

@media screen and (max-width: 520px) {
	nav ul {
		padding: 0;
		margin: 0;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
	}

	nav ul li {
		margin: 3px 0;
	}
	
	.grid {
		display: grid;
		grid-gap: 12px;
		grid-template-columns: repeat(12, 1fr);
		grid-template-areas: 
			"l l l l l l l l l l l l"
			"c c c c c c r r r r r r";
	}
}