@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: "FONTname";
  src: url("FILEname.eot") format("eot"),
  url("FILEname.woff") format("woff"),
  url("FILEname.ttf") format("truetype");
  font-weight: 400;
}

.container {
	width: 85%;
	margin: 0 auto;
}

body {
	margin: 0;
	padding: 0;
}

ul {
	padding: 0;
	margin: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

nav ul li {
	list-style-type: none;
	flex-grow: 1;
	margin-left: 0.2em;
}

nav ul li a {
	display: block;
	padding: 1em;
	text-align: center;
	text-decoration: none;
	color: #000000;
	border: solid 1px #424242;
	transition: background 0.5s ease;
	text-transform: uppercase;
}

nav li a:hover {
	background: #4fc3f7;
}

nav ul li:first-child {
	margin-left: 0;
}

footer {
	background: #666;
	color: #fff;
}
